h1
	text-align center
	background-color white
body
	width 100%
	align center
	background-color salmon

fieldset
	width 300px
	margin auto
	padding 10px
	text-align center
	border 3px solid black

.answer
	padding 10px
