border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

body
	width 100%
	align center
	background-color #ADD8E6

fieldset
	background-color grey
	width 300px
	margin auto
	padding 10px
	text-align center
	border 3px solid black
	border-radius(10px)


margin(n)
	padding n
	margin (n + 10px)




h3
	padding 50px
	font-family Futura, 'Trebuchet MS', Arial, sans-serif
	font-size 50px
	text-align center
	font-style normal
	font-variant normal
	font-weight 500
	line-height 15.4px

button
	margin (10)

#answer
	margin (10)
